.tr {
  margin-left: 121px;
  margin-top: 1px;
  background: transparent;
  background-color: black;
  border: 2px;
  color: white;
  padding: 5px 32px;
  opacity: 45%;
  border-style: solid;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  display: inline-block;
  font-size: 16px;
}

.tr:hover {
  opacity: 100%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
a {
  text-decoration: none !important;
  color: white !important;
}
